<!-- <script src="/assets/_game_event.js"></script> -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" href="game_event.css">
        <link rel="stylesheet" href="stats.css">
</head>
<body>
  <div id="stats">
    <p> Name: <%= @game.username %> </p>
    <p> FOMO: <%= @game.fomo %>% <br> </p>
    <p> Time: <%= @game.time %> Minutes <br> </p>
    <p> Money: $<%= @game.money %> <br> </p>
    <p> Battery: <%= @game.battery %>% <br> </p>
  </div>
  <div class="container">
      <p class="typing">
        <%=@event.text%>
      </p>
  <div class="hiders">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  </div>
  <div class="image">
    <img src=<%=@event.image_url%>>
  </div>

  <div class="stuff">
    <% @event.options.each_with_index do |option, val| %>
      <li><%= link_to option.text, event_result_path(@event, @event.results[val].id), {:class => "options"} %></li>
    <% end %>
  </div>
</body>
</html>
