<!-- <script src="/assets/_game_event.js"></script> -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="event-flexbox-wrapper">
  <div class="top-content">
  <div id="stats">
    <p> Name: <%= @game.username %> </p>
    <p> FOMO: <%= @game.fomo %>% <br> </p>
    <p> Time: <%= @game.time %> Minutes <br> </p>
    <p> Money: $<%= @game.money %> <br> </p>
    <p> Battery: <%= @game.battery %>% <br> </p>
  </div>
      <div id="event-header">
        <h1>Trail Event</h1>
      </div>
      <div id="top-content-buffer"></div>
  </div>  
</div>
    <div class="options">
      <%=@event.text%>
    </div>
  </div>
  <div class="flexbox-event-content">
    <div class="image">
      <img src=<%=@event.image_url%>>
    </div>
    <div id="event-content-buffer"></div>
    <div class="stuff">
      <% @event.options.each_with_index do |option, val| %>
        <%= link_to option.text, event_result_path(@event, @event.results[val].id), {:class => "options"} %> <br> <br>
      <% end %>
    </div>
  </div>
</body>
</html>
