<script src="assets/_game_event.js"></script>
<% if @game.time <= 0 %>
<%=  link_to "Enter Party", game_end_index_path %>
<% end %>
<div id="occupations-header">
<<<<<<< HEAD
  <h1>Get to Anchor & Hope</h1>
=======
  <h1>Mission Trail</h1>
>>>>>>> 2e5ac71c4654cd164d7d72b0fe742fe322e47197
</div>
<div class="button">
  <%= link_to "Hit the Trail", events_path %>
</div>
<div class="button">
<% if @game.checked_instagram == false && @game.battery > 0%>
<%=  link_to "Check Instagram", instagram_index_path %>
<% end %>
</div>
<div class="button">
<% if @game.checked_tinder == false && @game.battery > 0 %>
<%= link_to "Check Tinder", tinder_index_path %>
<% end %>
</div>
<div class="button">
<% if @game.talked_to_locals == false %>
<%= link_to "Talk to Locals", local_index_path %>
<% end %>
</div>